.themeButton {
    position: absolute;
    right: 0;

    &.dark {
        color: rgba(255, 255, 255, 0.822);
    }

    @media (orientation: portrait) {
        transform: scale(2);
        transform-origin: right;
    }
}