.confirmPopupContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .confirmPopupBg {
        height: inherit;
        width: inherit;
        position: absolute;
        background: black;
        opacity: 0.7;
    }
    .content{
        position: absolute;
        height: 30%;
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: solid 5px rgb(0, 162, 255);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .message {
            text-align: center;
            position: absolute;
            top: 30%;
            width: 100%;
            font-size: large;
            font-weight: bold;
        }
        .btnContainer {
            position: absolute;
            width: 100%;
            bottom: 15px;
            width: 100%;
            .confirmBtn, .cancelBtn {
                width: 30%;
                text-align: center;
                background: grey;
                border-radius: 10px;
                padding: 5px 0;
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                }
            }
            .confirmBtn {
                margin-left: 10%;
            }
            .cancelBtn {
                margin-left: 20%;
            }
        }
    }
    
    &.dark {
        .content {
            background: rgb(77, 77, 77);
            color: rgba(255, 255, 255, 0.822);
            .btnContainer {
                .confirmBtn, .cancelBtn {
                    color: black;
                    background: white;
                }
            }
        }
    }
}