.tableContent {
    position: relative;
    padding-bottom: 25px;

    #EditButton, #EditingButton {
        position: absolute;
        right: 10px;
        height: 25px;
        color: rgb(25, 247, 255);
        display: inline-flex;
        align-items: center;

        .text {
            margin-left: 6px;
        }
    }

    #EditButton {
        transition-duration: 400ms;
        cursor: pointer;

        .editButton_normal {
            display: block;
        }
        .editButton_hover {
            display: none;
        }

        &:hover {
            .editButton_normal {
                display: none;
            }
            .editButton_hover {
                display: block;
            }
        }
    }

    #MainContent {
        padding-top: 30px;

        ul {
            list-style-type: none;
            width: 98%;
            display: table;
            table-layout: fixed;
            margin-left: 1%;
            &.row0 {
                background: aliceblue;
            }
            li {
                display: table-cell;
                text-align: center;
                padding: 10px;
                border: 1px solid;
                input {
                    color: black;
                }
                .galleryButton {
                    padding-left: 10px;
                    color: rgb(255, 193, 78);
                    opacity: 0.3;
                    transition-duration: 400ms;
            
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }
    }

    #ActionContainer {
        position: absolute;
        right: 10px;
        display: inline-flex;
        height: 40px;
        margin: 0 auto;
        transition: transform 200ms ease-in-out;
        #ConfirmButton {
            .confirmButton {
                color: rgb(47, 255, 47);
                margin: 0 10px;
                opacity: 0.3;
                transition-duration: 400ms;
        
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        #CancelButton {
            .cancelButton {
                color: red;
                margin: 0 10px;
                opacity: 0.3;
                transition-duration: 400ms;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }

    #AddRowContainer {
        height: 40px;
        width: 90%;
        margin-left: 1%;
        transition: transform 200ms ease-in-out;

        #AddRowButton {
            position: relative;
            top: 8px;
            height: 24px;
            width: 24px;
            line-height: 24px;
            background: rgb(79, 255, 25);
            color: black;
            opacity: 30%;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            transition: transform 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 100%;
            }
        }
    }

    #AddColContainer {
        position: absolute;
        right: 5px;
        padding-top: 30px;
        height: calc(100% - 65px);
        width: 8%;
        transition: transform 200ms ease-in-out;

        #AddColButton {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 24px;
            width: 24px;
            line-height: 24px;
            background: rgb(79, 255, 25);
            color: black;
            opacity: 30%;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            transition: transform 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 100%;
            }
        }
    }

    &.dark {
        #MainContent {
            ul {
                color: rgba(255, 255, 255, 0.822);
    
                &.row0 {
                    background: rgb(3, 67, 122)
                }
    
                li {
                    border: 1px solid black;
                }
            }
        }
    }

    &.editMode {
        #MainContent {
            ul {
                width: 92%;
                margin-left: 1%;
            }
        }
    }
}