.tableContent {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
    height: 73%;
    margin-top: 3%;

    #EditButton, #EditingButton {
        position: absolute;
        right: 10px;
        height: 25px;
        color: rgb(25, 247, 255);
        display: inline-flex;
        align-items: center;
        transform: translateY(-150%);

        .text {
            margin-left: 6px;
        }
    }

    #EditButton {
        transition-duration: 400ms;
        cursor: pointer;

        .editButton_normal {
            display: block;
        }
        .editButton_hover {
            display: none;
        }

        &:hover {
            .editButton_normal {
                display: none;
            }
            .editButton_hover {
                display: block;
            }
        }
    }

    #MainContent {
        width: 96%;
        height: 100%;
        margin-left: 1%;
        margin-right: 3%;
        overflow-x: auto;

        .removeRowButton,
        .removeColButton {
            position: relative;
            top: 50%;
            transform: translateY(-100%);
            color: red;
            opacity: 0.3;
            transition-duration: 400ms;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .table {
            display: flex;
            flex-direction: column;
        }
        .row {
            display: flex;
            &.row0 {
                .cell {
                    background: aliceblue;
                }
            }
            .cell {
                width: 33.3%;
                min-width: 33.3%;
                padding: 8px;
                text-align: center;
                vertical-align: middle;
                padding: 10px;
                border: 1px solid;
                input {
                    color: black;
                    width: 100%;
                    text-align: center;
                }
                .galleryButton {
                    padding-left: 10px;
                    color: rgb(255, 193, 78);
                    opacity: 0.3;
                    transition-duration: 400ms;
            
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
                .removeImgButton {
                    color: red;
                    opacity: 0.3;
                    transition-duration: 400ms;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.removeRowButtons,
                &.removeColButtons {
                    padding: unset;
                    border: unset;
                    background: unset;
                }

                &.removeRowButtons {
                    width: 5%;
                    min-width: 5%;
                }
                
                img {
                    margin: 0 auto;
                }

                .cellContent {
                }
            }
        }
    }

    #ActionContainer {
        position: absolute;
        right: 10px;
        display: inline-flex;
        height: 40px;
        margin: 0 auto;
        transition: transform 200ms ease-in-out;
        .confirmButton {
            color: rgb(47, 255, 47);
            margin: 0 10px;
            opacity: 0.3;
            transition-duration: 400ms;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        .cancelButton {
            color: red;
            margin: 0 10px;
            opacity: 0.3;
            transition-duration: 400ms;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    #AddRowContainer {
        height: 40px;
        width: 90%;
        margin-left: 1%;
        transition: transform 200ms ease-in-out;

        #AddRowButton {
            position: relative;
            top: 8px;
            height: 24px;
            width: 24px;
            line-height: 24px;
            background: rgb(79, 255, 25);
            color: black;
            opacity: 30%;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            transition: transform 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 100%;
            }
        }
    }

    #AddColContainer {
        position: absolute;
        right: 5px;
        padding-top: 30px;
        height: calc(100% - 65px);
        width: 3%;
        transition: transform 200ms ease-in-out;

        #AddColButton {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 24px;
            width: 24px;
            line-height: 24px;
            background: rgb(79, 255, 25);
            color: black;
            opacity: 30%;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            transition: transform 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 100%;
            }
        }
    }

    &.editMode {
        #MainContent {
            .row {
                display: flex;
                &.row0 {
                    .cell {
                        background: aliceblue;
                    }
                }
                .cell {
                    &.removeRowButtons,
                    &.removeColButtons {
                        padding: unset;
                        border: unset;
                        background: unset;
                    }
                }
            }
        }
    }

    &.dark {
        #MainContent {
            .row {
                color: rgba(255, 255, 255, 0.822);
    
                &.row0 {
                    .cell {
                        background: rgb(3, 67, 122);
                    }
                }
    
                .cell {
                    border: 1px solid black;
                    position: relative;
                }
            }
        }
        
        &.editMode {
            #MainContent {
                .row {
                    &.row0 {
                        .cell {
                            background: rgb(3, 67, 122);
                        }
                    }
                    .cell {
                        &.removeRowButtons,
                        &.removeColButtons {
                            padding: unset;
                            border: unset;
                            background: unset;
                        }
                    }
                }
            }
        }
    }

    
    @media (orientation: portrait) {
        margin-top: 8%;
        #EditButton {
            transform: translateY(-180%) scale(2);
            transform-origin: right;
        }
        #MainContent {
            .table {
                transform: scale(2);
                transform-origin: top left;
                .cell {
                    width: 25%;
                    min-width: 25%;
                }
            }
        }
    }
}