.galleryPopupContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .galleryPopupBg {
        height: inherit;
        width: inherit;
        position: absolute;
        background: black;
        opacity: 0.7;
    }
    .content{
        position: absolute;
        height: 90%;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: solid 5px rgb(0, 162, 255);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        .noImagesTxt {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            color: black;
            font-size: larger;
            font-style: italic;
            font-weight: bold;
        }
        img {
            max-height: 180px;
            max-width: 180px;
            aspect-ratio: 1/1;
            padding: 10px;
            object-fit: cover;
        }
        .closeButton {
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: red;
            opacity: 0.3;
            transition-duration: 400ms;
            cursor: pointer;

            &:hover {
                    opacity: 1;
            }
        }
    }
    
    &.dark {
        .content {
            background: rgb(77, 77, 77);
            color: rgba(255, 255, 255, 0.822);
        }
    }
}