.navButton {
    cursor: pointer;
    font-size: large;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    padding: 10px 50px;
    border: 2px solid black;
    margin-right: 10px;
    
    .navButtonTitle {
        margin-right: 15px;
        transition: transform 200ms ease-in-out;
        &:hover {
            color: rgb(0, 255, 115);
            transform: scale(1.2);
            transition-delay: 200ms;
        }

    }

    &.isTesting {
        .NavButtonTitle {
            color: red;
        }
    }

    &.notTesting {
        .NavButtonTitle {
            color: green;
        }
    }

    .tickButton {
        color: rgb(47, 255, 47);
        margin: 0 10px;
        opacity: 0.3;
        transition-duration: 400ms;

        &:hover {
                opacity: 1;
        }
    }

    .editButtons {
        color: rgb(255, 151, 25);
        margin-right: 10px;
        transition-duration: 400ms;

        .editButton_normal {
            display: block;
        }
        .editButton_hover {
            display: none;
        }

        &:hover {
            .editButton_normal {
                display: none;
            }
            .editButton_hover {
                display: block;
            }
        }
    }

    .deleteButtons {
        .deleteButton {
            color: red;
            opacity: 0.3;
            transition-duration: 400ms;
        }

        &:hover {
            .deleteButton {
                opacity: 1;
            }
        }
    }


    &.dark {
        &.isTesting {
            .navButtonTitle {
                color: rgb(255, 98, 98);
            }
        }
    
        &.notTesting {
            .navButtonTitle {
                color: green;
            }
        }
    }
}