.uploadImagePanel {
    display: inline-block;
}

@media (orientation: portrait) {
    .uploadImagePanel {
        position: absolute;
        transform: scale(2);
        transform-origin: top left;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-top: 50px;
        display: grid;
    }
}