.addPopupContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    .addPopupBg {
        height: inherit;
        width: inherit;
        position: absolute;
        background: black;
        opacity: 0.7;
    }
    .addPopupInputSection {
        position: absolute;
        height: 30%;
        width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: solid 5px rgb(0, 162, 255);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .titleInputContaienr, .isTestingInputContainer{
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        .btnContainer {
            position: absolute;
            width: 100%;
            bottom: 15px;
            width: 100%;
            .addNewNavBtn, .cancelBtn {
                width: 30%;
                text-align: center;
                background: grey;
                border-radius: 10px;
                padding: 5px 0;
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                }
            }
            .addNewNavBtn { 
                margin-left: 10%;
            }
            .cancelBtn {
                margin-left: 20%;
            }
        }
    }

    &.dark {
        .addPopupInputSection {
            background: rgb(77, 77, 77);
            color: rgba(255, 255, 255, 0.822);
            .btnContainer {
                .addNewNavBtn, .cancelBtn {
                    color: black;
                    background: white;
                }
            }
        }
    }
}