.pageContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

button {
    background: grey;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
}

@media (orientation: portrait) {
    #showGalleryButton {
        transform: scale(2);
        transform-origin: top left;
    }
}