@tailwind base;

html, body, #root, .App {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.App {
    &.dark {
        background: rgb(77, 77, 77);
    }

    &.light {
        background: white;
    }
}