@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
    height: 100%;
}

.App {
    &.dark {
        background: rgb(77, 77, 77);
    }

    &.light {
        background: white;
    }
}